@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

html,
body,
#root {
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
}
